.contact {
	padding: 4rem 2rem;
	background-color: #1f1214;
	/* width: 100% */
}

.contact-content {
	max-width: 1200px;
	margin: 0 auto;
}

.contact-components {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 6rem;
}

.contact-content h2 {
	font-size: 2rem;
	color: #859B79;
	margin-bottom: 1rem;
	text-align: center;
	font-family: 'Aboreto', system-ui;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	display: block;
	margin-bottom: 0.5rem;
	color: #b5a48c;
	font-weight: bold;
	font-family: 'Aboreto', system-ui;
}

.form-group input,
.form-group textarea {
	/* width: 100%; */
	padding: 0.75rem;
	border: 1.5px solid 859B79;
	border-radius: 10px;
	font-size: 1rem;
	background-color: #b5a48c;
	font-family: 'Nanum Myeongjo', serif;
}

.icons {
	font-size: 4rem;
	color: #b5a48c;
	justify-content: center;

}