.header {
    background-color: #FFFBFB;
    color: #5C6B7B;
    padding: 1rem 2rem;
    width: 100%
}

.header-content {
    height: 100%;            /* fill the header height */
    line-height: 80px;  
    width: 100%;
    margin: 0;
    font-family: 'Petit Formal Script', cursive;
}

.name {
    font-size: 1.5rem;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.nav a {
    color: #5C6B7B;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ddd;
}

.filter-image {
    filter: invert(9%) sepia(71%) saturate(1168%) hue-rotate(328deg) brightness(98%) contrast(104%);
}

@media (max-wdith: 768px) {
    .nav {
        flex-direction: column;
    }
}