/* .hero {
	padding: 2rem 1rem;
	background-color: #1f1214;
	display: flex;
	flex-direction: row;
	justify-content: center;
} */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f1214;
  align-items: flex-end; /* middle element can be lifted */
  gap: 2rem;
}


.fade-in-left {
  animation: fade-in-left 2s ease infinite;
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-down {
  animation: fade-in-down 2s ease infinite;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-right {
  animation: fade-in-right 2s ease infinite;
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero img {
	padding: 2rem 2rem;
}

.port,
.folio {
	width: clamp(70px, 20vw, 400px);
	height: auto;
}

.port:hover {
	animation: fade-in-left 2s ease forwards;
	animation-duration: 3s;
}

.folio:hover {
	animation: fade-in-right 2s ease forwards;
	animation-duration: 3s;
}

.hero-image img {
	width: clamp(200px, 20vw, 500px);
    height: auto;
	border-radius: 15rem 15rem 0px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0,1);
}

@media (max-width: 480px) {
	.hero {
		flex-direction: column;
		align-items: center;
	}
	.hero-image {
		order: -1;
		margin-bottom: 1rem;
	}
	.port,
	.folio {
		order: 0;
		display: inline-block;
	}
	.port,
	.folio {
		width: 45%;
	}
	.hero {
		flex-wrap: wrap;
	}
}