.projects {
	padding: 4rem 2rem;
	background-color: #FFFBFB;
	width: 100%;
}

.projects-content {
	max-width: 1200px;
	margin: 0 auto;
}

.projects-content h2 {
	font-size: 2rem;
	color: #3B0C0C;
	margin-bottom: 2rem;
	text-align: center;
	font-family: 'Aboreto', system-ui;
}

.projects-content h3 {
	font-size: 1.5rem;
	color: #5C6B7B;
	margin-bottom: 1rem;
	text-align: center;
	font-family: 'Aboreto', system-ui;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

.project-card-link {
	text-decoration: none;
	color: inherit;
	display: block;
}

.project-card {
	background-color: #F5FAFF;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	border: 1.5px solid #3B0C0C;
}

.project-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.card-text {
	padding-right: 1rem;
}

.project-card:hover {
	transform: translate(-5px);
}

.project-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border: 1px solid #3B0C0C;
	border-radius: 5px;
}

.project-card h3 {
	font-size: 1.25rem;
	color: #5C6B7B;
	margin: 1rem;
}

.project-card p {
	font-size: 1rem;
	color: #5C6B7B;
	margin: 0 1rem 1rem;
	line-height: 1.5;
	font-family: 'Nanum Myeongjo', serif;
}

@media (max-width: 768px) {
	.project-grid {
		grid-template-columns: 1fr;
	}
}